<% content_for :header do %>
	<h1>Contacts</h1>
<% end %>

<ul>
	<% @contacts.each do |contact| %>
		<li><a href="/contacts/<%= contact[:id] %>">
			<%= "#{contact[:first_name]} #{contact[:last_name]}" %>
		</a></li>
	<% end %>
</ul>

<a href="/contacts/new">New</a>

<form action="/contacts/delete" method="post">
	<button type="submit" class="delete">Delete All Contacts</button>
</form>