<!doctype html>
<html lang="en-US">
  <head>
    <title>Contacts</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans">
  </head>
  <body>
		<header>
    	<%= yield_content :header %>
		</header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>